# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
config.py
Configs
dist
build
MiningMonitor
__pycache__
.idea
.gitignore
main.spec